/*
  gruen: #2bae41 
 
 
*/

html, body {
  font-size: 18px;
  font-family:  Arial,Helvetica Neue,Helvetica,sans-serif;
  margin: 0;
}

input[type="button"] {
  width: 6em;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  height: 2em;
}

code {
  color: darkblue;
}

nav {
  top: 3em;
  border-bottom: 1px solid white;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #bbb;
  display: none;
  padding: 2em 0 3em 0;
}

a {
  text-decoration: none;
  color: black;  
}

nav a {
   display: block;
   color: white;
   margin: 1.5em;
   font-size: 1.2em;
}

#header {
  font-size: 1em;
  background-color: #2bae41;
  color: white;
  height: 3em;
  line-height: 3em;
}

#title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
}

#menu {
  margin-right: 3%;
  float: right;
  font-size: 1.5em;
  padding: 0 1em 0 1em;
  cursor: pointer;
}

#lesson {
  margin: 5em auto 3em auto;
  max-width: 44em;
  padding: 0 1em 0 1em; 
}

#lesson h1 {
  margin-bottom: 1.5em;
}

#lesson p {
  line-height: 1.6em;
}

#next-button {
  float: right;
  visibility: hidden;
  color: green;
  border-color: #2bae41;
}

#test-button.red {
  color: #e30000;
  border-color: #e30000;
}

#test-button.green {
  color: green;
  border-color: #2bae41;
}

#code-area {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.8em;
}

#messages {
  margin-top: 3em;
}

#messages p {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

#messages p.red {
  border-color: red;
  color: red;
}

#messages p.green {
  border-color: #2bae41;
  color: green;
}

#start-hero a {
  margin-top: 1em;
  border: 1px solid black;
  display: inline-block;
  padding: 0.3em 2em;
}

#success {
  color: green;
  margin-left: 2em;
  display: none;
}

#fail {
  color: red;
  margin-left: 2em;
  display: none;
}
