/*
  gruen: #2bae41 
  rot: #e30000 / fc2929 / db3026
*/

html, body {
  font-size: 18px;
  font-family:  Arial,Helvetica Neue,Helvetica,sans-serif;
  margin: 0;
}

button {
  padding-left: 0;
  padding-right: 0;
  width: 6em;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  height: 2.3333em;
  cursor: pointer;
}

code {
  color: #0033ff;
}

nav {
  top: 3em;
  border-bottom: 1px solid white;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #bbb;
  display: none;
  padding: 2em 0 3em 0;
}

a {
  text-decoration: none;
  color: black;  
}

nav a {
   display: block;
   color: white;
   margin: 1.5em;
   font-size: 1.2em;
}

#header {
  font-size: 1em;
  background-color: #2bae41;
  color: white;
  height: 3em;
  line-height: 3em;
  position: fixed;
  width: 100%;
  top: 0;
}

#hedaer.green {
  background-color: #2bae41;
}

#header.red {
  background-color: #e30000;
}

#title {
  vertical-align: middle;
  margin-left: 5%;
  font-size: 1.25em;
}

#menu {
  cursor: pointer;
}

#header .control {
  color: white;
  float: right;
  font-size: 1.5em;
  padding: 0 0.6em;
}

#header > :first-child {
  margin-right: 5%;
}

#lesson {
  margin: 8em auto 3em auto;
  max-width: 44em;
  padding: 0 0.5em 0 0.5em; 
}

#lesson h1 {
  margin-bottom: 1.5em;
}

#lesson h2 {
  margin-top: 1.5em;
}

#lesson p {
  line-height: 1.6em;
}

#test-button.red {
  color: #e30000;
  border-color: #e30000;
}

#test-button.green {
  color: green;
  border-color: #2bae41;
}

#code-area {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1em;
  margin-top: 2em;
}

#messages {
  margin-top: 3em;
}

#messages p {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

#messages p.red {
  border-color: #e30000;
  color: #e30000;
}

#messages p.green {
  border-color: #2bae41;
  color: green;
}

.link-button {
  vertical-align: top;
  border: 1px solid black;
  display: inline-block;
  padding: 0.3em 2.3em;
}

#start-hero {
  margin-top: 2em;
}

#success .green {
  color: green;
}

#success .red {
  color: #e30000;
}

#success #koans a{
  display: block;
  margin: 0.5em 0;
}
