/* colors, icons: material.io */

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

a {
  color: #0033ff; /* blue */
}

#content pre {
  background-color: #f5f5f5; /* grey 100 */
  padding: 1em 0.7em;
  margin: 1em 0em;
  overflow: auto;
}

html {
  height: 100%;
}

html, body {
  font-size: 18px;
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

body {
  position: relative;
  min-height: 100%
}

button {
  min-width: 4em;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  min-height: 2.5em;
  cursor: pointer;
  padding: 0 2em;
  box-sizing: content-box;
  color: black;
}

button:hover {
  background-color: #424242; /* grey 800 */
  color: white;
}

code {
  color: #0033ff; /* blue */
}

#nav {
  top: 3em;
  border-bottom: 1px solid white;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #424242; /* grey 800 */
  display: none;
  padding: 2em 0 2em 0;
}

#header a, #nav a, #messages a, .link-button, #koans a {
  text-decoration: none;
  color: black;
}

#nav a {
  display: block;
  color: white;
  margin: 1.2em;
  font-size: 1.2em;
}

#nav a:hover {
  text-decoration: underline;
}

/* Separates the language-link from the normal navigation links. */
#nav a:last-child {
  margin-top: 2.5em;
  font-style: italic;
}

#header {
  background-color: #14A62C; /* standard-green */
  font-size: 1em;
  color: white;
  height: 3em;
  line-height: 3em;
  position: absolute;
  width: 100%;
  top: 0;
}

#header.green {
  background-color: #14A62C; /* standard-green */
}

#header.red {
  background-color:  #e33027; /* standard-red */
}

.title {
  vertical-align: middle;
  font-size: 1.3em;
  float: left;
}

#title {
  display: block;
}

#title-short {
  display: none;
}

#menu {
  float: left;
  margin: 0 2em;
}

.control, #menu {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 2em;
  height: 3em;
  width: 3em;
}

#prev-button {
  background-image: url("../img/ic_navigate_before_white_18dp_2x.png");
  background-image: url("../img/ic_navigate_before_white_24px.svg"), none;
}

#next-button {
  background-image: url("../img/ic_navigate_next_white_18dp_2x.png");
  background-image: url("../img/ic_navigate_next_white_24px.svg"), none;
}

#success-button {
  background-image: url("../img/ic_more_vert_white_18dp_2x.png");
  background-image: url("../img/ic_more_vert_white_24px.svg"), none;
}

#menu.menu {
  background-image: url("../img/ic_menu_white_18dp_2x.png");
  background-image: url("../img/ic_menu_white_24px.svg"), none;
}

#menu.close {
  background-image: url("../img/ic_close_white_18dp_2x.png");
  background-image: url("../img/ic_close_white_24px.svg"), none;
  background-color: #424242; /* grey 800 */
}

#menu:hover {
  background-color: #424242; /* grey 800 */
}

#header .control {
  float: right;
}

#header .control:hover {
  background-color: #424242;
}

#header > :first-child {
  margin-right: 2%;
}

#content {
  margin: 0 auto;
  max-width: 44em;
  padding: 8em 6%;
}

#content h1 {
  margin: 0;
  padding-bottom: 1em;
}

#content h2 {
  margin-top: 1.5em;
}

#content p, #content .paragraph {
  margin: 1em 0;
  line-height: 1.6em;
}

#content .paragraph2 {
  margin: 2em 0;
}

#content .paragraph5 {
  margin: 5em 0;
}

#content .extra-margin {
  margin-bottom: 3em;
}

#code-area {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.95em;
  margin-top: 2em;
  font-family: monospace;

  /* due to bad textarea layout IE11/Win7 (shadow and scrollbar) */
  border: solid 1px grey;
  overflow: auto;
}

#messages {
  margin-top: 3em;
  margin-bottom: 3em;
}

#messages p {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

#messages p.red {
  border-color: #e00000; /* dark-red */
  color: #e00000; /* dark-red */
}

#messages p.green {
  border-color: #0f7820; /* dark-green*/
  color: #0f7820; /* dark-green */
}

.link-button {
  width: 8em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

a.link-button:hover {
  background-color: #424242; /* grey 800 */
  color: white !important;
}

#messages .link-button {
  margin-top: 2em;
}

#logs {
  color: #000;
  font-family: monospace;
  font-size: 0.85em;
  padding: 0.5em 0 1em 1em;
}

#success .green {
  color: #0f7820; /* dark-green */
}

#success .red {
  color: #e00000; /* dark-red */
}

#koans a {
  display: block;
  margin: 0.5em 0;
}

#koans {
  margin-bottom: 5em;
}

#reset-confirmation {
  margin-bottom: 4.4em;
  display: none;
}

#reset-exercises {
  margin-bottom: 7em;
}

.reset-confirmation-button {
  margin-bottom: 0.5em;
}

#privacy {
  font-size: 0.9em;
}

#links h2 {
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

#links p {
  margin: 0.5em 0 3em 0;
}

#playground #show-example {
  text-decoration: underline;
  cursor: pointer;
  color: #0033ff; /* blue */
}

/* FOOTER */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #424242; /* grey 800 */
  color: white;
  height: 3em;
  line-height: 3em;
  text-align: center;
}

#footer a {
  padding: 0 1em;
  color: white;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* WARNINGS */

.warning {
  padding: 10px;
  border: 1px solid #e00000; /* dark-red */
  color: #e00000; /* dark-red */
  margin-bottom: 3em !important;
}

#no-storage-warning {
  display: none;
}

#hint-link-root,  #solution-link-root {
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
  font-style: italic;
}

/* smartphones */
@media (max-width: 35em) {

  html, body {
    font-size: 17px;
  }

  #title {
    display: none;
  }

  #title-short {
    display: block;
  }

  #menu {
    margin: 0 0.7em;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
  }

  #content {
    padding: 8em 1em 17em 1em;
  }

  .control {
    width: 2.5em;
  }

  #footer {
    padding: 1.5em 0;
    height: 8em;
    line-height: 2em;
  }

  #footer a {
    display: block;
  }

}