aside {
  position: absolute;
  /* center on the right column */
  right: calc(25% - 315px);
  top: 15em;
  width: 11em;
  border: 1px #424242 solid;
}

aside h1 a {
  text-decoration: none;
}

aside h1 a, aside h2 {
  color: white;
}

aside h1, aside h2 {
  color: white;
  font-size: 1em;
  background-color: #424242;
  margin: 0;
  text-align: center;
}

aside h1 {
  font-weight: bold;
  padding-top: 1em;
}

aside h2 {
  font-size: 0.7em;
  font-style: italic;
  padding-top: 0.8em;
  padding-bottom: 1.43em;
}

aside div {
  text-align: center;
  margin: 2em;
}

aside a {
  color: black;
}

aside a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media (max-width: 1350px) {
  aside {
    display: none;
  }
}