/* --- ALL --- */

aside {
  position: absolute;
  /* center on the right column */
  right: calc(50% - 700px);
  top: 14em;
  width: 11em;

}

aside a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

aside section {
  border: 1px #424242 solid;
}

/* --- BLOG --- */

/* HEADER */

aside h1, aside h2 {
  background-color: #424242;
  margin: 0;
  text-align: center;
}

aside h1 a {
  text-decoration: none;
  color: white
}

aside h1 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 1em;
}

aside h2 {
  font-size: 0.7em;
  font-style: italic;
  color: white;
  padding-top: 0.8em;
  padding-bottom: 1.43em;
}

/* CONTENT */

aside div {
  text-align: center;
  margin: 2em;
  line-height: 1.3em;
}

aside div a {
  color: black;
}

/* --- ANDROID APP --- */

#aside-android-app {
  margin-top: 3em;
}

#aside-android-app h1 {
  padding: 1em 0;
}

/* Breakpoint content-align: center => left*/
@media (max-width: 1600px) {
  aside {
    right: calc(50% - 570px);
  }
}

/* Breakpoint font-size: 20px => 18px */
@media (max-width: 1200px) {
  aside {
    right: calc(50% - 470px);
  }
}

/* Right side too small for aside */
@media (max-width: 1000px) {
  aside {
    display: none;
  }
}