#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #424242; /* grey 800 */
  height: 3em;
  line-height: 3em;
  text-align: center;
}

#footer a {
  padding: 0 1em;
  color: white;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.web-app #web-app-link {
  display: none;
}

.android-app #android-app-link {
  display: none;
}

/* smartphones */
@media (max-width: 630px) {

  #footer {
    padding: 1.5em 0;
    height: 8em;
    line-height: 2em;
  }

  .en #footer {
    height: 6em;
  }

  #footer a {
    display: block;
  }

}