<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>JS Hero</title>
  <meta name="description" content="Learn to Code">
  <meta name="keywords" content="JavaScript Koans Lernen Übungen Tutorial Tests JSHero Programmierung Hour-Of-Code Kurs">
  <meta name="author" content="Stefan Trenkel">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/aside.css?v=441">
  <link rel="stylesheet" href="css/love.css">
  <link rel="stylesheet" href="css/footer.css">
</head>

<body id="home">

  <%- include('include/header.html', {root: "", nextLink: "intro.html", prevLink: "info.html"}); %>

  <div id="nav">
    <a href="home.html">Home</a>
    <a href="intro.html">Einführung</a>
    <a href="koans/var.html">Start</a>
    <a href="success.html">Übersicht</a>
    <a href="playground.html">Playground</a>
    <a href="https://blog.jshero.net">Code Hero Blog</a>
    <a href="links.html">Links</a>
    <a href="en/home.html">--- English ---</a>
  </div>

  <div id="content">

    <noscript>
      <p class="warning">
        Du hast JavaScript deaktiviert oder dein Browser unterstützt kein JavaScript. JavaScript Hero benötigt einen
        Browser mit aktiviertem JavaScript.
      </p>
    </noscript>

    <h1>Lerne programmieren</h1>
    <p>
      Lerne programmieren mit JS Hero, dem JavaScript Tutorial mit interaktiven Übungen.
    </p>
    <p>
      Auf jeder Seite findest du eine Lektion und eine Aufgabe. Beantworte die Aufgabe direkt auf der Seite.
      Starte die Tests und du siehst, ob deine Lösung richtig ist.
    </p>

    <p class="paragraph2">
      <a class="link-button" href="koans/var.html">Start</a>
    </p>
  </div>

  <%- include('include/aside.html'); %>
  <%- include('include/love.html', {root: ""}); %>

  <div id="footer">
    <a href="https://blog.jshero.net">Blog</a>
    <a id="web-app-link" href="https://www.jshero.net">Web App</a>
    <a id="android-app-link" href="https://play.google.com/store/apps/details?id=net.jshero">Android App</a>
    <a href="privacy.html">Datenschutz</a>
    <a href="info.html">Kontakt</a>
  </div>

  <script src="js/util/cordova.js"></script>
  <script src="js/lib/nav.js"></script>

</body>

</html>