<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>JS Hero</title>
  <meta name="description" content="Learn to Code">
  <meta name="keywords" content="JavaScript Koans Lernen Übungen Tutorial Tests JSHero Programmierung Hour-Of-Code Kurs">
  <meta name="author" content="Stefan Trenkel">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/aside.css?v=441">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/love.css">
  <link rel="stylesheet" href="css/footer.css">
</head>

<body id="links">

  <div id="header">
    <a id="next-button" class="control" href="privacy.html" title="Nächste Seite"></a>
    <a id="success-button" class="control" href="success.html" title="Übersicht"></a>
    <a id="prev-button" class="control" href="playground.html" title="Vorherige Seite"></a>
    <div id="menu" class="menu" title="Menü"></div>
    <a id="title" class="title" href="home.html" title="Home">JavaScript Hero</a>
    <a id="title-short" class="title" href="home.html" title="Home">JS Hero</a>
  </div>

  <div id="nav">
    <a href="home.html">Home</a>
    <a href="intro.html">Einführung</a>
    <a href="koans/var.html">Start</a>
    <a href="success.html">Übersicht</a>
    <a href="playground.html">Playground</a>
    <a href="https://blog.jshero.net">Code Hero Blog</a>
    <a href="links.html">Links</a>
    <a href="en/links.html">--- English ---</a>
  </div>

  <div id="content">

    <noscript>
      <p class="warning">
        Du hast JavaScript deaktiviert oder dein Browser unterstützt kein JavaScript. JavaScript Hero benötigt einen Browser mit
        aktiviertem JavaScript.
      </p>
    </noscript>

    <h1>Links</h1>

    <h2>
      <a href="http://silentteacher.toxicode.fr">Silent Teacher</a>
    </h2>
    <p>Ein kleiner Parcours, um sich in die Welt der Programmierung voranzutasten.</p>

    <h2>
      <a href="http://compute-it.toxicode.fr">COMPUTE IT</a>
    </h2>
    <p>Ein weiterer, toller Parcours, um Schleifen und Bedingungen einzuüben.</p>

    <h2>
      <a href="https://molily.de/js/">Einführung in JavaScript</a>
    </h2>
    <p>Gute Einführung in JavaScript von <a href="https://molily.de">Mathias Schäfer (molily)</a>.</p>

    <h2>
      <a href="https://wiki.selfhtml.org">SELFHTML</a>
    </h2>
    <p>Das 1995 von Stefan Münz initiierte Projekt bietet eine Dokumentation und Einführung in HTML, CSS und JavaScript.</p>

    <h2>
      <a href="https://developer.mozilla.org">MDN Web Docs</a>
    </h2>
    <p>Mozillas Web Docs stellen vor allen eine ausgezeichnete Referenz für HTML, CSS und JavaScript zur Verfügung. Daneben
      gibt es eine Reihe von Tutorials.</p>

    <h2>
      <a href="https://appcamps.de">APP CAMPS</a>
    </h2>
    <p>Für Lehrkräfte: kostenlose Unterrichtsmaterialien zu Programmierung und digitalen Themen.</p>

    <h2>
      <a href="https://jugendhackt.org">Jugend hackt</a>
    </h2>
    <p>Jugend hackt veranstaltet Coding Events in Deutschland, Österreich und der Schweiz.</p>

    <h2>
      <a href="https://www.freecodecamp.org">freeCodeCamp</a>
    </h2>
    <p>Viele, tolle Tutorials zu HTML, CSS, JavaScript und einiges mehr. Ideal zum Selbstlernen.</p>

    <h2>
      <a href="https://www.khanacademy.org">Khan Academy</a>
    </h2>
    <p>Eine großartige Akademie! Programmier-Kurse (und vieles mehr!) von leicht bis ganz schwer.</p>

    <h2>
      <a href="http://crockford.com">Douglas Crockford</a>
    </h2>
    <p>Douglas Crockford ist der Altmeister der JavaScript-Programmierung. Insbesondere seine im Netz verteilten Videos (
      <a href="https://www.youtube.com/playlist?list=PLEzQf147-uEpvTa1bHDNlxUL2klHUMHJu">YouTube</a>, Microsoft, Vimeo, ...) sind sehenswert.</p>

    <h2>
      <a href="https://javascript.info/">The Modern JavaScript Tutorial</a>
    </h2>
    <p>Umfangreiches, zeitgemäßes JavaScript-Tutorial. Free to read mit ein wenig Werbung.</p>

    <h2>
      <a href="http://exploringjs.com">Exploring JS: JavaScript books for programmers</a>
    </h2>
    <p>Anspruchvolle Bücher zum JavaScript Sprachkern von <a href="http://dr-axel.de/">Dr. Axel Rauschmayer</a>. Free to read und käuflich.</p>

    <h2>
      <a href="http://eloquentjavascript.net">Eloquent JavaScript</a>
    </h2>
    <p>Dieses Buch von Marijn Haverbeke behandelt den JavaScript Sprachkern, die Verwendung von JavaScript im Browser sowie
      die Grundlagen von Node.js. Free to read und käuflich.</p>

    <h2>
      <a href="https://leanpub.com/javascriptallongesix">JavaScript Allongé, the "Six" Edition</a>
    </h2>
    <p>Ein Buch von Reg “raganwald” Braithwaite zum JavaScript Sprachkern. Für den professionellen Entwickler. Free to read
      und käuflich.</p>

    <h2>
      <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book">Learning JavaScript Design Patterns</a>
    </h2>
    <p>Ein Buch von Addy Osmani. Für den fortgeschrittenen Entwickler. Free to read und käuflich.</p>

    <h2>
      <a href="https://projecteuler.net/">Project Euler</a>
    </h2>
    <p>Schöne Sammlung von herausfordernden Aufgaben aus dem Bereich Mathematik und Informatik.</p>

  </div>

  <%- include('include/aside.html'); %>
  <%- include('include/footer.html', {root: ""}); %>

  <script src="js/util/cordova.js"></script>
  <script src="js/lib/nav.js"></script>

</body>

</html>