#content {
  padding-bottom: 18em;
}

#love {
  position: absolute;
  bottom: 3em;
  width: 100%;
  background-color: #eeeeee; /* grey 200 */
  height: 8em;
}

#love-title {
  position: relative;
  top: 1em;
  font-size: 0.6em;
  color:  #424242; /* grey 800 */
  text-align: center;
  vertical-align: bottom;
}

#love-links {
  margin-top: 1em;
  text-align: center;
}

#love a {
  padding: 0 4%;
  opacity: 1;
}

#love a:hover {
  opacity: 0.7;
}

/* tablets */
@media (max-width: 800px) {

  #love-links a:nth-child(1), #love-links a:nth-child(3) {
    display: none;
  }

  #love-links {
    margin-top: 2.5em;
  }

}

/* smartphones */
@media (max-width: 630px) {

  #content {
    padding-bottom: 24em;
  }

  #love {
    bottom: 11em;
  }

  .en #love {
    bottom: 9em;
  }

}