<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>JS Hero</title>
  <meta name="description" content="Learn to Code">
  <meta name="keywords" content="JavaScript Tutorial Course Exercises Learning Tests Koans Programming Language Hour-Of-Code JSHero">
  <meta name="author" content="Stefan Trenkel">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/aside.css?v=441">
  <link rel="stylesheet" href="../css/footer1.css">
  <link rel="stylesheet" href="../css/footer.css">
</head>

<body id="links" class="en">

  <%- include('include/header.html', {root: "", nextLink: "privacy.html", prevLink: "playground.html"}); %>

  <div id="nav">
    <a href="home.html">Home</a>
    <a href="koans/var.html">Start</a>
    <a href="success.html">Overview</a>
    <a href="playground.html">Playground</a>
    <a href="links.html">Links</a>
    <a href="../links.html">--- German ---</a>
  </div>

  <div id="content">

    <noscript>
      <p class="warning">
        You have disabled JavaScript or your browser does not support JavaScript. JavaScript Hero need a browser with enabled JavaScript.
      </p>
    </noscript>

    <h1>Links</h1>

    <h2>
      <a href="http://silentteacher.toxicode.fr/">Silent Teacher</a>
    </h2>
    <p>A wonderful tour to explore the world of programming.</p>

    <h2>
      <a href="http://compute-it.toxicode.fr/">COMPUTE IT</a>
    </h2>
    <p>A marvellous course to practice loops and conditions.</p>

    <h2>
      <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
    </h2>
    <p>Great tutorials on HTML, CSS, JavaScript and much more. Ideal for self-learning.</p>

    <h2>
      <a href="https://www.khanacademy.org/">Khan Academy</a>
    </h2>
    <p>A fantastic academy. Programming courses (and much more!) from easy to hard.</p>

    <h2>
      <a href="https://developer.mozilla.org/">MDN Web Docs</a>
    </h2>
    <p>Mozilla's Web Docs provides an excellent reference and learning platform for HTML, CSS and JavaScript.</p>

    <h2>
      <a href="http://crockford.com/">Douglas Crockford</a>
    </h2>
    <p>Douglas Crockford is the JavaScript evangelist. Especially his videos distributed in the web (
      <a href="https://www.youtube.com/playlist?list=PLEzQf147-uEpvTa1bHDNlxUL2klHUMHJu">YouTube</a>, Microsoft, Vimeo, ...) are worth seeing.</p>

    <h2>
      <a href="https://javascript.info/">The Modern JavaScript Tutorial</a>
    </h2>
    <p>Comprehensive, well structured JavaScript-Tutorial. Free to read with little ads.</p>

    <h2>
      <a href="http://exploringjs.com/">Exploring JS: JavaScript books for programmers</a>
    </h2>
    <p>Advanced books about the JavaScript core by Dr. Axel Rauschmayer. Free to read and for purchase.</p>

    <h2>
      <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a>
    </h2>
    <p>This book by Marijn Haverbeke covers the core language of JavaScript, the use of JavaScript in the browser and the basics
      of Node. js. Free to read and for purchase.</p>

    <h2>
      <a href="https://leanpub.com/javascriptallongesix">JavaScript Allongé, the "Six" Edition</a>
    </h2>
    <p>A book by Reg "raganwald" Braithwaite about the core language of JavaScript. For professional developers. Free to read
      and for purchase.</p>

    <h2>
      <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">Learning JavaScript Design Patterns</a>
    </h2>
    <p>A book by Addy Osmani. For advanced developers. Free to read and for purchase.</p>

    <h2>
      <a href="https://projecteuler.net/">Project Euler</a>
    </h2>
    <p>Great collection of challenging tasks in the field of mathematics and computer science.</p>

  </div>

  <%- include('include/aside.html'); %>
  <%- include('include/footer.html', { root: ""}); %>

  <script src="../js/util/cordova.js"></script>
  <script src="../js/lib/nav.js"></script>

</body>

</html>