<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>JS Hero</title>
  <meta name="description" content="Learn to Code">
  <meta name="keywords" content="JavaScript Tutorial Course Exercises Learning Tests Koans Programming Language Hour-Of-Code JSHero">
  <meta name="author" content="Stefan Trenkel">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/aside.css?v=441">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/love.css">
  <link rel="stylesheet" href="../css/success.css">
</head>

<body id="success" class="en">

  <%- include('include/header.html', {root: "", nextLink: "playground.html", prevLink: "koans/further.html"}); %>

  <div id="nav">
    <a href="home.html">Home</a>
    <a href="koans/var.html">Start</a>
    <a href="success.html">Overview</a>
    <a href="playground.html">Playground</a>
    <a href="links.html">Links</a>
    <a href="../success.html">--- German ---</a>
  </div>

  <div id="content">

    <noscript>
      <p class="warning">
        You have disabled JavaScript or your browser does not support JavaScript. JavaScript Hero need a browser with enabled JavaScript.
      </p>
    </noscript>

    <p id="no-storage-warning" class="warning">
      The browser storage
      <a href="https://en.wikipedia.org/wiki/Web_storage">localStorage</a>
      is not available. Either your browser does not support it or you have disabled it or the maximum memory size is exceeded.
      Without localStorage your solutions will not be stored.
    </p>

    <h1>Overview</h1>

    <p class="extra-margin">
      Here you find all exercises. Unsolved exercises are red, solved green. With click or touch you navigate to
      the exercise. Reset JS Hero with the button below. All exercises will be red and you can start JS Hero
      again.
    </p>

    <p id="koans"><% for (var i = 0; i < koans.length; i++) { %>
      <a id="<%- koans[i].id %>" href="koans/<%- koans[i].id %>.html"><%- i + 1 %>. <%- koans[i].title %></a><% } %></p>

    <p id="reset-exercises" class="paragraph5">
      <button id="reset-button">Reset JS Hero</button>
    </p>

    <div id="reset-confirmation" class="paragraph5">
      <p>
        Do you really want to reset JS Hero?
      </p>
      <p>
        <button id="reset-no-button" class="reset-confirmation-button">No</button>
        <button id="reset-yes-button" class="reset-confirmation-button">Yes</button>
      </p>
    </div>

  </div>

  <%- include('include/aside.html'); %>
  <%- include('include/love.html', { root: "../"}); %>

  <div id="footer">
    <a id="web-app-link" href="https://www.jshero.net">Web App</a>
    <a id="android-app-link" href="https://play.google.com/store/apps/details?id=net.jshero">Android App</a>
    <a href="privacy.html">Privacy</a>
    <a href="info.html">Contact</a>
  </div>

  <script src="../js/util/cordova.js"></script>
  <script src="../js/util/language.js"></script>
  <script src="../js/util/util.js"></script>
  <script src="../js/util/i18n.js"></script>
  <script src="../js/lib/nav.js"></script>
  <script src="../js/lib/header.js"></script>
  <script src="../js/lib/storage.js"></script>
  <script src="../js/success.js"></script>

</body>

</html>