<div id= "footer1">
    <div id="footer1-title">loving</div>
    <div id="footer1-links">
      <a href="https://fsfe.org/" title="Free Software Foundation Europe">
        <img id="fsfe-de" src="<%- root %>img/fsfe.svg" alt="Free Software Foundation Europe"></a>
      <a href="https://www.mozilla.org/" title="Mozilla">
        <img id="mozilla-de" src="<%- root %>img/moz.svg" alt="Mozilla"></a>
      <a href="https://www.aerzte-ohne-grenzen.de/" title="Ärzte ohne Grenzen">
        <img id="msf-de" src="<%- root %>img/msf.png" alt="Ärzte ohne Grenzen"></a>
      <a href="https://www.el-rojito.de/" title="el rojito">
          <img id="rojito" src="<%- root %>img/elrojito.png" alt="Ärzte ohne Grenzen"></a>  
    </div>
  </div>

  <div id="footer">
    <a href="https://blog.jshero.net">Blog</a>
    <a id="web-app-link" href="https://www.jshero.net">Web App</a>
    <a id="android-app-link" href="https://play.google.com/store/apps/details?id=net.jshero">Android App</a>
    <a href="<%- root %>privacy.html">Datenschutz</a>
    <a href="<%- root %>info.html">Kontakt</a>
  </div>