#content {
  padding-bottom: 26em;
}

#footer1 {
  position: absolute;
  bottom: 3em;
  width: 100%;
  background-color: #eeeeee; /* grey 200 */
  height: 8em;
}

#footer1-title {
  position: relative;
  top: 1em;
  font-size: 0.6em;
  color:  #424242; /* grey 800 */
  text-align: center;
  vertical-align: bottom;
}

#footer1-links {
  margin-top: 1.6em;
  text-align: center;
}

#footer1 a {
  padding: 0 4%;
  opacity: 1;
}

#footer1 a:hover {
  opacity: 0.7;
}

#fsfe-de {
  height: 3.5em;
}

#fsfe-en {
  height: 3.4em;
}

#mozilla-de {
  height: 2.4em;
}

#mozilla-en {
  height: 1.9em;
}

#msf-de {
  height: 3.2em;
}

#msf-en {
  height: 3.1em;
}

/* small desktops */
@media (max-width: 1000px) {
  #footer1-links a:nth-child(4) {
    display: none;
  }
}

/* tablets */
@media (max-width: 800px) {

  .en #footer1-links a:nth-child(2) {
    display: none;
  }

}

/* smartphones */
@media (max-width: 630px) {

  #content {
    padding-bottom: 24em;
  }

  #footer1 {
    bottom: 11em;
  }

  .en #footer1 {
    bottom: 8em;
  }

  .en #footer1-links a:nth-child(2) {
    display: inline;
  }

  #footer1-links a:nth-child(1), #footer1-links a:nth-child(3) {
    display: none;
  }

  #footer1-links {
    margin-top: 2.5em;
  }

}