#content {
  padding-bottom: 26em;
}

#footer1 {
  position: absolute;
  bottom: 3em;
  width: 100%;
  background-color: #eeeeee; /* grey 200 */
  height: 10em;
}

#footer1-title {
  position: relative;
  top: 1em;
  font-size: 0.6em;
  color:  #424242; /* grey 800 */
  text-align: center;
  vertical-align: bottom;
}

#footer1-links {
  margin-top: 3em;
  text-align: center;
}

#footer1 a {
  padding: 0 4%;
  opacity: 1;
}

#footer1 a:hover {
  opacity: 0.7;
}

#fsf-de {
  height: 3.4em;
}

#fsf-en {
  height: 1.6em;
}

#mozilla-de {
  height: 2.3em;
}

#mozilla-en {
  height: 2.3em;
}

#msf-de {
  height: 3.1em;
}

#msf-en {
  height: 3.1em;
}


/* tablets */
@media (max-width: 800px) {

  #footer1 {
    height: 26em;
  }

  #footer1-links a {
    display: block;
    padding: 1.5em 0;
  }

  #content {
    padding-bottom: 40em;
  }

  #footer1-links {
    margin-top: 3em;
  }

}

/* smartphones */
@media (max-width: 630px) {

  #content {
    padding-bottom: 47em;
  }

  .de #footer1 {
    bottom: 11em;
  }

  .en #footer1 {
    bottom: 8em;
  }

}