<div id="footer1">
    <div id="footer1-title">loving</div>
    <div id="footer1-links">
      <a href="https://www.fsf.org/" title="Free Software Foundation">
        <img id="fsf-en"src="<%- root %>../img/fsf.png" alt="Free Software Foundation"></a>
      <a href="https://www.mozilla.org/" title="Mozilla">
        <img id="mozilla-en" src="<%- root %>../img/moz.svg" alt="Mozilla"></a>
      <a href="https://www.msf.org/" title="Médecins Sans Frontières">
        <img id="msf-en" src="<%- root %>../img/msf_us.svg" alt="Médecins Sans Frontières" height="65px"></a>
    </div>
  </div>

  <div id="footer">
    <a href="<%- root %>privacy.html">Privacy</a>
    <a href="<%- root %>info.html">Contact</a>
  </div>