<div id="header">
    <a id="next-button" class="control" href="<%- nextLink %>" title="Next page"></a>
    <a id="success-button" class="control" href="<%- root %>success.html" title="Overview"></a>
    <a id="prev-button" class="control" href="<%- prevLink %>" title="Previous page"></a>
    <div id="menu" class="menu" title="Menu"></div>
    <a id="title" class="title" href="<%- root %>home.html" title="Home">JavaScript Hero</a>
    <a id="title-short" class="title" href="<%- root %>home.html" title="Home">JS Hero</a>
  </div>